<script src="https://code.jquery.com/jquery-2.2.2.min.js" integrity="sha256-36cp2Co+/62rEAAYHLmRCPIych47CvdM+uTBJwSzWjI=" crossorigin="anonymous"></script>
<script src="{{url_for('static', filename='jrpc.js')}}"></script>

<div id = "result"></div>

<script>
    var api;
    jrpc("/api").done(function(_api) {
        api = _api;
        api.echo({name: "Python JRPC", text: "Now with more Flask"}).done(function(result) {
            $("#result").text(JSON.stringify(result));
        });
    });
</script>